    body {
        background-color: black;
    }
    /*
    1. The main h1 text should be using the Regular Libre Baskerville Font from Google Fonts:
    https://fonts.google.com/specimen/Libre+Baskerville
    6. Read about the text-transform property on MDN docs to make the h1 uppercase with CSS.
    https://developer.mozilla.org/en-US/docs/Web/CSS/text-transform 
    */
    h1 {
        font-family: "Libre Baskerville", serif;
        font-optical-sizing: auto;
        font-weight: 400px;
        font-style: normal;

        color: white;
        background-color: black;

        text-transform: uppercase;;
    }

    /*
      2. The text should be white and background black.
      4. The text should be center aligned.
      */
    .text {
        color: white;
        background-color: black;
        text-align: center;
    }

    /*
      3. Add your own image into the images folder inside assets. It should have a 5px white border.
      */
    img {
        width: 100%;
        border: 5px solid white;
    }

    /*
    5. Create a div to contain the h1, p and img elements. Adjust the margins so that the image and text are centered on the page. 
    Hint: You horizontally center a div by giving it a width of 50% and a margin-left of 25%.
    Hint: Set the image to have a width of 100% so it fills the div. 
    */
    div {
        width: 50%;
        margin-left: 25%;
        margin-top: 100px;
    }